.header {
	height: 50px;
}

.container {
	height: 1000px;
}

.minblo {
	height: 1000px;
}

.main-txt {
	height: 100px;
}

.txt {
	height: 50px;
}

.like {
	height: 50px;
}

.icon {
	height: 200px;
}

.info {
	height: 200px;
}

.imgv {
	height: 120px;
	width: 160px;
}